

.divForm{
    display: block;

    width: 90%;

    margin: 5%;
    padding: 2%;
}

.btn{
    /* display: block; */

    /* font-size: small; */
    color: #343a40;
    font-weight: bold;

    background-color: white;

    border: none;
    border-radius:  0px 5px 5px 0px;

    padding: 5px 8px 5px 8px;

    box-shadow: 0px 0px 0px #ccc inset, 0px 0px 3px #ccc;

    transition: all 500ms;

}

.btn:hover{
    box-shadow: 0px 0px 3px #ccc inset, 0px 0px 3px #ccc;
}
.btn:focus{
    border: none;
    outline: none;

}
.btn:focus-visible{
    outline: none;
}


.input{
    background-color: white;

    border: none;
    border-radius: 5px 0px 0px 5px;

    padding: 5px 8px 5px 8px;

    box-shadow: 0px 0px 0px #ccc inset, 0px 0px 3px #ccc;

    transition: all 400ms;
}

.input:hover{
    box-shadow: 0px 0px 3px #ccc inset, 0px 0px 3px #ccc;
}

.input:focus{
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px #ccc inset, 0px 0px 3px #ccc;
}
.input:focus-visible{
    outline: none;
}